*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*  */
}

:root{
    font-size: 62.5%;
    --hue: 195;
    --bg-header: hsl(var(--hue), 91%, 25%);
    --bg-logo-footer: hsl(var(--hue), 46%, 40%);
}

html, body, input{
    font-family: 'Mulish', sans-serif;
}

body, input{
    font-size: 1.6rem;
    line-height: 160%;
}

#app{
    display: grid;
    grid-template-rows: max-content 1fr max-content;

    margin: 0 auto;
}

/* HEADER */
header{
    padding: 1.2rem 2.8rem;
    background: var(--bg-header);
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}
header > .logo{
    width: 4rem;
}
header svg path{
    fill: var(--bg-logo-footer);
}
header form label{
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}
header form > input{
    display: flex;
    flex: 1;
    background: var(--bg-logo-footer);
    color: white;

    font-style: normal;
    font-weight: 600;

    width: 24rem;
    height: 4rem;
    border: none;
    border-radius: .4rem;

    padding: 1.2rem 1.6rem 1.2rem 1.4rem;
    align-items: center;
    gap: 1.2rem;
}
input::placeholder{
    color: white;
}
header > .avatar{
    width: 4.2rem;
    height: 4.2rem;
    object-fit: cover;

    border-radius: 50%;
}

/* MAIN */

.imgArticle{
    width: 100%;
   border-radius: .5rem;
}
section {
    padding: 0 2.4rem;
}
.mainArticle h1{
    margin: 3.2rem 0 .8rem;
}
.wrapper-img{
    display: flex;
    gap: 1.2rem;
    margin-bottom: 3rem;   
}
.wrapper-img rect{
    fill: var(--bg-logo-footer)
}
.mainArticle p {
    font-size: 1.7rem; 
    margin-bottom: 3.4rem;  
}

/* SIDEBAR */

.sidebarArticle{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    margin-bottom: 3.9rem;
}
figure{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 160%;
    height: 8.4rem;
}
figure img{
    width: 15.1rem;
   
    margin-right: 1.6rem;
}

/* FOOTER */

footer{
    background: var(--bg-logo-footer);
    padding: 2.6rem;
    text-align: center;
}
footer p{
   font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: white;
}


@media (min-width: 1090px) {
   header{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 11.2rem;
   }
   header form, header form input{
    width: 100%;
   }

   div .wrapper-main-app{
    display: grid;
    grid-template-areas: 
    "A A B"
    "A A B"
    "A A B";
    margin: 4.4rem 10rem 1.5rem;
   }

   .imgArticle{
    width: 80.3rem;
    height: 40.5rem;
   }

   .wrapper-img{
    margin-top: 2.4rem;
   }

   .titleArticle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }

   .mainArticle{
    grid-area: A;
   }

   .sidebar{
    grid-area: B;
   }

   .sidebar p{
    width: 21.5rem;
   }
}